@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.floatL {
    float: left;
}

.floatR {
    float: right;
}

.button {
    background-color: #0061ff;
    padding: 7px 20px;
    color: #fff;
    text-decoration: none;
}

.buttonWrapper {
    margin-bottom: 30px;
}

.centered {
    width: 70%;
    margin: 0 auto;
}

.divider {
    border-bottom: 1px solid #000;
}

/* /////// */
/* header  */

/* barra di navigazione */

header {

}

#containerSfondoNav {
    background-color: #fff;
}

nav {
    height: 75px;
    line-height: 75px;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    font-size: 14px;
    font-weight: 600;
}

        #logo {
            float: left;
            margin-right: 20px;
        }

            #logo a  img {
            vertical-align: middle;
            }
    
        nav li {
            display: inline-block;
            margin: 0 15px;
        }

            nav li a {
            color: #000;
            text-decoration: none;
            vertical-align: middle;
            }

/* jumbotron */

.jumbotron {
    background-color: #b4d0e7;
}

    .jumbotron .centered {
        width: 80%;
        margin: 0 auto;
        padding: 80px 20px 0;
    }

        .jumbotron h1 {
            font-size: 65px;
            font-weight: 800;
            margin-bottom: 30px;
        }

        .jumbotron .floatL {
            width: 30%;
            font-size: 14px;
            font-weight: 600;
        }

            .jumbotron .floatL p {
                margin-bottom: 30px;
            }

            .jumbotron .floatL span {
                display: block;
                margin-bottom: 30px;
            }

            .fa-arrow-down {
                font-size: 50px;
            }

        .jumbotron .floatR {
            max-width: 70%;
        }

            .jumbotron .floatR img {
                max-width: 100%;
            }

/* //////////// */
/* main section */

.titoliFatturazione {
    margin-bottom: 40px;
}

.titoliFatturazione h2 {
    font-size: 40px;
    font-weight: 800;
    margin: 200px 0 50px;
}

.titoliFatturazione span {
    vertical-align: middle;
}

.radio {
    display: inline-block;
    margin: 0 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #0061ff;
}


.wrapperFatturazione .floatL {
    width: calc(100% / 3 - 60px);
}

    #middleColumn {
        margin: 0 60px;
    }

    .tableHead {
        text-align: center;
        border: 1px solid #000;
        padding: 5px;
    }

    
    .tableData {
        font-size: 14px;
        border: 1px solid #000;
        padding: 30px;
        min-height: 800px;
    }

    .dataPricing {
        min-height: 400px;
    }

        .tableData h4 {
            font-size: 25px;
            font-weight: 800;
            margin: 20px 0;
        }

        .tableData h5 {
            font-size: 16px;
            margin: 20px 0;
            font-weight: 800;
        }

        .tableData span {
            margin: 20px 0;
            display: block;
        }

        .tableData .divider {
            width: 30%;
        }

        .tableData ul li {
            margin-bottom: 10px;
        }